<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="https://unpkg.com/monaco-editor@0.40.0/min/vs/loader.js"></script>
    <script defer src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    </link>
</head>

<body>
    <nav id="top">
        <img src="/static/logo.png" alt="GLUTon" height="30"> 
        <div>
            <button id="run">
                <img src="/static/run.png" alt="RUN" width="20" height="20">
            </button>
            <button id="toggle-panel">
                Panel
            </button>
        </div>
    </nav>
    <main>
        <div id="head">
    
        </div>
        <div id="code">
    
        </div>
        <div id="tail">
    
        </div>
    </main>
    <div id="panel">
        <div id="bar">
            <div id="problems" class="tab-btn">PROBLEMS</div>
            <div id="display" class="tab-btn selected-tab-btn">OUTPUT</div>
        </div>
        <div class="tab-holder">
            <div id="problems-tab" class="tab">
                No problems have been detected
            </div>
            <div id="display-tab" class="tab selected-tab">
            </div>
        </div>
    </div>
    <script>
    </script>
</body>

</html>